:root {
  --app-icon-size: 10vw;
  --app-icon-transition: 2vw;
}
.Loading{
  text-align: center;
  width: 100%;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  width: 80vw;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  align-items: stretch;
}

.AppStatusBar {
  flex-grow: 0;
  flex-shrink: 0;
  height: calc(var(--app-icon-size) + var(--app-icon-transition));
  flex-direction: row;
  display: flex;
  background: linear-gradient(0deg, #0000ff 0.5vw, transparent var(--app-icon-transition) );
  padding-left: 2vw;
}

.AppMainContent {
  display: flex;
  align-items: stretch;
  flex-grow: 1;
}