:root {
  --app-icon-size: calc(10 * var(--pct));
  --app-icon-transition: calc(2 * var(--pct));
  --app-border: calc(0.5 * var(--pct));
}
.Loading{
  text-align: center;
  width: 100%;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  width: calc(80 * var(--pct));
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App {
  flex-grow: 1;
  flex-shrink: 1;
  flex-direction: column;
  display: flex;
  align-items: stretch;
}

.AppStatusBar {
  flex-grow: 0;
  flex-shrink: 0;
  height: calc(var(--app-icon-size) + var(--app-icon-transition));
  flex-direction: row;
  display: flex;
  background: linear-gradient(0deg, #0000ff var(--app-border), transparent var(--app-icon-transition) );
  padding-left: calc(0.1 * var(--app-icon-size));
}

.AppMainContent {
  display: flex;
  align-items: stretch;
  flex-grow: 1;
  flex-shrink: 1;
}

.IconButton {
  height: 1em;
  margin-left: 0.25em;
  margin-right: 0.25em;
  vertical-align: middle;
}

.IconButton.hidden {
  visibility: hidden;
}

div {
  flex-shrink: 0;
  flex-grow: 0;
}

::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}

div {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}


.messageContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 100%;

}

.messageTitle {
  white-space: nowrap;
  flex-shrink: 0;
  flex-grow: 0;
}

.messageContent {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-flex;
  flex-grow: 1;
  flex-shrink: 1;
  white-space: nowrap;
  min-width: 0;
}

.GlyphBton {
  font-weight: bold;
  font-family: "MobindiGlyphBton", "sans-serif";
  min-width: 1.7em;
}

.BusyInfinite {
  background-clip: border-box;
  background-image:
  repeating-linear-gradient(
      -45deg,
      #0000ff10,
      #0000ffff 5px,
      #0000ff10 10px,
      #e0e0e000 10px,
      #e0e0e000 20px /* determines size */
  );
  background-size: 28px 28px;
  animation: BusyInfiniteMove 1s linear infinite;
}

@keyframes BusyInfiniteMove {
  0% {
  background-position: 0 0;
  }
  100% {
  background-position: 28px 0;
  }
}