.AppStatusBar .Application {
    width: var(--app-icon-size);
    height: calc(var(--app-icon-size) + var(--app-icon-transition) + var(--app-border));
    object-fit: cover;
    border: calc(var(--app-border)) solid transparent;
    border-top-left-radius: calc(3 * var(--app-border));
    border-top-right-radius: calc(3 * var(--app-border));
    border-bottom: 0px;
    cursor: pointer;
    position: relative;
}

.AppStatusBar .Application img {
    filter: grayscale(100%);
}

.AppStatusBar .Application.Active {
    border: calc(var(--app-border)) solid blue;
    border-top-left-radius: calc(3 * var(--app-border));
    border-top-right-radius: calc(3 * var(--app-border));
    background: black;
    border-bottom: 0px;
    cursor: inherit;
}

.AppStatusBar .Application.Active img{
    filter: inherit;
}

.AppStatusBar .Application.Active:hover {
    background: black;
    border-color: blue;
}

.AppStatusBar .Application:hover {
    border-color: #50507080;
    background-color: #50507080;
}

.AppStatusBar .Application img {
    width: 100%;
}

.AppStatusBar .Application .Notification {
    bottom: calc(var(--app-border) + 0.1 * var(--app-icon-size));
    display: block;
    position: absolute;
    right: calc(var(--app-border));
    font-weight: bold;
    font-size: calc(0.4 * var(--app-icon-size));
    font-family: "Helvetica Narrow","Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;
}

.Notification_Warning {
    color: #ff8080;
}

.Notification_Invite {
    color: orange;
    left: 0.05em;
    right: unset;
}