.CameraView {
    display: flex;
    flex-direction: column;

    flex-grow: 1;
    flex-shrink: 1;
}
.FitsViewer {
    flex-grow: 1;
    flex-shrink: 1;
}

.FitsViewContainer {
    position: relative;
    border: 0.2vw solid grey;
}

.FitsView {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.FitsView.Error {
    background-color: #4A3030;
}

.FitsViewOverlayContainer {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.FitsViewLoading {
    position: absolute;
    left: 0.2vw;
    bottom: 0.2vw;
    width: 10vw;
    height: 10vw;
    visibility: hidden;
    pointer-events: none;
}

.FitsView.Loading ~.FitsViewLoading {
    visibility: inherit;
    background-image: url("loading.svg");
    background-color: transparent;
    background-size: 10vw 10vw;
    animation: App-logo-spin infinite 2s linear;
}

.FitsView.Error ~.FitsViewLoading {
    visibility: inherit;
    background-image: url("image-missing.svg");
    background-color: transparent;
    background-size: 10vw 10vw;
}

.ShootBar {
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
}

.ShootBton {
    flex-grow: 0;
    flex-shrink: 0;
}

.ShootProgress {
    flex-grow: 1;
    flex-shrink: 1;
}

.ShootAbortBton {
    flex-grow: 0;
    flex-shrink: 0;
}

.ShootProgressAdvance {
    background: #102040
}

.ShootProgressTitle {
    overflow: hidden;
    display:flex;
    align-items: center;
    justify-content:center;
}