.CameraView {
    display: flex;
    flex-direction: column;

    flex-grow: 1;
    flex-shrink: 1;
}
.FitsViewer {
    flex-grow: 1;
    flex-shrink: 1;
}

.FitsViewContainer {
    position: relative;
    border: 0.2vw solid grey;
}

.FitsView {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}


.ShootBar {
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
}

.ShootBton {
    flex-grow: 0;
    flex-shrink: 0;
}

.ShootProgress {
    flex-grow: 1;
    flex-shrink: 1;
}

.ShootAbortBton {
    flex-grow: 0;
    flex-shrink: 0;
}

.ShootProgressAdvance {
    background: #102040
}

.ShootProgressTitle {
    overflow: hidden;
    display:flex;
    align-items: center;
    justify-content:center;
}