.CameraView {
    display: flex;
    flex-direction: column;

    flex-grow: 1;
    flex-shrink: 1;
}

.CameraViewValidDevice {
    /* empty */
}
.CameraViewInvalidDevice {
    color: orange;
}
.CameraViewUnsetDevice {
    text-decoration: line-through;
}

.FitsViewer {
    flex-grow: 1;
    flex-shrink: 1;
}

.FitsViewContainer {
    position: relative;
    border: calc(0.2 * var(--pct)) solid grey;
}

.FitsView {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    text-align: left;
}

.FitsView.Error {
    background-color: #4A3030;
}

.FitsViewOverlayContainer {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.FitsViewLoading {
    position: absolute;
    left: calc(0.2 * var(--pct));
    bottom: calc(0.2 * var(--pct));
    width: calc(10 * var(--pct));
    height: calc(10 * var(--pct));
    visibility: hidden;
    pointer-events: none;
}

.FitsView.Loading ~.FitsViewLoading {
    visibility: inherit;
    background-image: url("loading.svg");
    background-color: transparent;
    background-size: calc(10 * var(--pct)) calc(10 * var(--pct));
    animation: App-logo-spin infinite 2s linear;
}

.FitsView.PreLoading ~.FitsViewLoading {
    visibility: inherit;
    background-image: url("loading.svg");
    background-color: transparent;
    background-size: calc(10 * var(--pct)) calc(10 * var(--pct));
    animation: App-logo-spin infinite 1s linear;
}

.FitsView.Error ~.FitsViewLoading {
    visibility: inherit;
    background-image: url("image-missing.svg");
    background-color: transparent;
    background-size: calc(10 * var(--pct)) calc(10 * var(--pct));
}

.ShootBar {
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
}

.ShootBton {
    flex-grow: 0;
    flex-shrink: 0;
}

.ShootProgress {
    flex-grow: 1;
    flex-shrink: 1;
}

.ShootAbortBton {
    flex-grow: 0;
    flex-shrink: 0;
}

.ShootProgressAdvance {
    background: #102040
}

.ShootProgressTitle {
    overflow: hidden;
    display:flex;
    align-items: center;
    justify-content:center;
}

.CameraViewDisplay {
    display: flex;
    flex: 1 auto;
}

@media (min-aspect-ratio: 4/3) {
    .CameraView {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .CameraViewSettings {
        flex-basis: auto;
        display: flex;
        flex-direction: column;
        /** Button height + margin */
        height: calc(100% - 2em - 0.5 * var(--pct));
    }

    .CameraViewDisplay {
        flex: 1 auto;
        height: calc(100% - 2em - 0.5 * var(--pct));
    }

    .ShootBar {
        align-self: flex-end;
        height: calc(2em + 0.5 * var(--pct));
        flex: 100%;
    }
}