.RawSlewButtonPanel {
    position: absolute;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    bottom: 1em;
    right: 1em;
}

.ScopeJoystickContainer {
    text-align: center;
}

.ScopeJoystickContainer > .RawSlewButtonPanel {
    position: relative;
    bottom: unset;
    right: unset;
}

.RawSlewBton {
    pointer-events: auto;
}

.RawSlewNorth {
    grid-column: 2;
    grid-row: 1;
}

.RawSlewSouth {
    grid-column: 2;
    grid-row: 3;
}

.RawSlewEast {
    grid-column: 1;
    grid-row: 2;
}

.RawSlewWest {
    grid-column: 3;
    grid-row: 2;
}

.RawSlewAbort {
    grid-column: 2;
    grid-row: 2;
}
