.FocuserState {
    font-weight: bold;
    font-size: 1.4em;
    text-align: center;
}

.FocuserState_running {
    color: lightgreen;
}

.FocuserState_error {
    color: red;
}

.FocuserGraph {
    height: calc( 100% - 8em );
}