.MessageView {
    display: flex;
    flex-direction: column;

    flex-grow: 1;
    flex-shrink: 1;
    overflow-y: scroll;
}

.MessageItem {
    border: calc(0.4 * var(--pct)) solid #404040;
    font-family:  "Lucida Console", Monaco, monospace;
    font-size: 0.75em;
}

.MessageItemDate {
    margin-right: 0.2em;
    color: #b0b0b0;
    font-style: italic;
    font-size: 0.85em;
}

.MessageItemDevice {
    margin-right: 0.2em;
    color: #c9a0a0;
    font-style: italic;
    font-size: 0.85em;
}