.Modal {
    position: fixed;
    z-index: 1;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    margin-top: calc(var(--app-icon-size) + var(--app-icon-transition));
}

.ModalContainer {
    background-color: #000000;
    padding: 20px;
    border: 0.5em solid #888;
    height: calc(100%);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.ModalContent {
    /* width: calc(100% - 0.5em - 0.5em - 40px); */
    overflow: scroll;
    flex-grow: 1;
    flex-basis: 0;
}

.ModalTitle {
    flex-grow: 0;
    padding-bottom: 0.3em;
}

.ModalBar {
    padding-top: 0.3em;
    flex-grow: 0;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.Title {
    font-size: 1.5em;
    text-align: center;
}