.Modal {
    position: fixed;
    z-index: 1;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    margin-top: calc(var(--app-icon-size) + var(--app-icon-transition));
}

.ModalContent {
    background-color: #000000;
    padding: 20px;
    border: 0.5em solid #888;
    /* width: calc(100% - 0.5em - 0.5em - 40px); */
    min-height: calc(100% - 0.5em - 0.5em - 40px);
}
