table.RADECTable {
    border: calc(0.5 * var(--pct)) solid green;
    border-spacing: 0px;
    width:calc(100% - 1 * var(--pct));
    margin-left: calc(0.5 * var(--pct));
    margin-right: calc(0.5 * var(--pct));
}


table.RADECTable td {
    border: 1px solid green;
    white-space:nowrap
}

table.RADECTable tr td {
    width: 50%;
    overflow: hidden;
    text-align: center;
}

table.RADECTable tr td:first-child{
    width: auto;
    overflow: visible;
    text-align: right;
    padding-left: calc(1 * var(--pct));
    padding-right: calc(1 * var(--pct));
}

.PHDAppState {
    font-weight: bold;
    font-size: 1.4em;
    text-align: center;
}

.PHDAppState_Guiding {
    color: lightgreen;
}

.PHDAppState_Stopped {
    color: red;
}

.PhdGraph_Item {
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
}

.PhdGraph_Container {
    position: relative;
    width: 100%;
    height: 100%;
}

.PhdRangeSelector {
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 0px;
    font-size: 0.6em;
}

.PhdStarLock {
    display: block;
    position: absolute;
    top: calc(-3 * var(--pct) - 2px);
    left: calc(-3 * var(--pct) - 2px);
    width: calc(6 * var(--pct));
    height: calc(6 * var(--pct));
    border: 2px solid green;
}