table.RADECTable {
    border: 0.5vw solid green;
    border-spacing: 0px;
    width:calc(100% - 1vw);
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}


table.RADECTable td {
    border: 1px solid green;
    white-space:nowrap
}

table.RADECTable tr td {
    width: 50%;
    overflow: hidden;
    text-align: center;
}

table.RADECTable tr td:first-child{
    width: auto;
    overflow: visible;
    text-align: right;
    padding-left: 1vw;
    padding-right: 1vw;
}

.PHDAppState {
    font-weight: bold;
    font-size: 7vw;
    text-align: center;
}

.PHDAppState_Guiding {
    color: lightgreen;
}

.PHDAppState_Stopped {
    color: red;
}

.PhdGraph_Item {
    flex-grow: 1;
    flex-shrink: 1;
}

.PhdGraph_Container {
    position: relative;
    width: 100%;
    height: 100%;
}
