/** For unicode glyph */
@font-face {
    font-family: 'MobindiGlyphBton';
    unicode-range: U+2699, U+21BB;

    src: local('NotoSansSymbols-Regular'),
         url('./NotoSansSymbols-Regular.woff') format('woff');
}

@font-face {
    font-family: 'MobindiGlyphBton';
    unicode-range: U+23FB;

    src: local('NotoSansSymbols2-Regular'),
         url('./NotoSansSymbols2-Regular.woff') format('woff');
}

body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #505050;
    font-size: 5vw;
    height: 100%;
    position: absolute;
}

div {
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

div#root {
    width: 100vw;
    height: 100%;
    overflow: hidden;
    background-color:#000000;
    color: #ffffff;
}

.Screen {

    width: 100vw;
    height: 100%;
    border: 0px solid #808080;
    display: flex;
}

.AppLogo {
    width: 10.5vw;
}

.Page {
    flew-grow: 1;
    width: calc(100% - 3.2vw);

    display : flex;
    flex-direction: column;
    justify-content: space-between;

    box-shadow: 0px 0px 0px 0.8vw blue;
    margin: 0 0.8vw 0.8vw 0.8vw;
    padding: 0.8vw;
}

.ButtonBar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: flex-start;
}

.TextTitle {
    font-size: 9.5vh;
}

input[type="checkbox"] {
    padding: 0;
    width: 5vw;
    height: 5vw;
    vertical-align: middle;
}

input, button, select, option, textarea {
    font-size: 100%;
    margin: 0.5vw;
    collapse: true;
    color: #000000;
}

select {
    height: 2em;
    box-sizing: border-box;
/*    border-width: 0.5vw;
*/
}

input[type=button] {
    height: 2em;
    line-height: 2em;
    border-radius: 0.7vw;
    border-width: 0.5vw;
    background-color: #ccc;
    vertical-align: bottom;
}
input:disabled {
    color: #808080
}

select {
    max-width: 50vw;
}