/** For unicode glyph */
@font-face {
    font-family: 'MobindiGlyphBton';
    unicode-range: U+2699, U+21BB;

    src: local('NotoSansSymbols-Regular'),
         url('./NotoSansSymbols-Regular.woff') format('woff');
}

@font-face {
    font-family: 'MobindiGlyphBton';
    unicode-range: U+23FB, U+1D306;

    src: local('NotoSansSymbols2-Regular'),
         url('./NotoSansSymbols2-Regular.woff') format('woff');
}

body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #505050;
    height: 100%;
    position: absolute;
}

div {
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

div#root {
    width: 100vw;
    height: 100%;
    overflow: hidden;
    background-color:#000000;
    color: #ffffff;
}

.Screen {
    width: 100vw;
    height: 100%;
    border: 0px solid #808080;
    display: flex;
}

.AppLogo {
    width: calc(12.5 * var(--pct) );
}

.Page {
    flew-grow: 1;
    width: calc(100% - 1.6 * var(--pct) - 2 * var(--app-border));

    display : flex;
    flex-direction: column;
    justify-content: space-between;

    box-shadow: 0px 0px 0px calc(var(--app-border)) blue;
    margin: 0 calc(var(--app-border)) calc(var(--app-border)) calc(var(--app-border));
    padding: calc(0.8 * var(--pct));
}

.ButtonBar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: flex-start;
    width: 100%;
}

.TextTitle {
    font-size: 1.9em;
}

input[type="checkbox"] {
    padding: 0;
    width: 1.2em;
    height: 1.2em;
    line-height: 2em;
    vertical-align: middle;
}

input, button, select, option, textarea {
    font-size: 100%;
    margin: 0.1em;
    collapse: true;
    color: #000000;
}

select {
    height: 2em;
    box-sizing: border-box;
/*    border-width: calc(0.5 * var(--pct));
*/
}

input[type=button] {
    height: 2em;
    line-height: 2em;
    border-radius: 0.3em;
    border-width: 0.15em;
    background-color: #ccc;
    vertical-align: bottom;
}
input:disabled {
    color: #808080;
    filter: grayscale(100%);
}

select {
    max-width: calc(50 * var(--pct));
}