.AspectRatio43ContainerOut {
    position: relative;
    text-align: center;
}
.AspectRatio43ContainerIn {
    position: relative;
    max-width: 70vh;
    margin: auto;
}
.AspectRatio43 {
    padding-bottom: 75%;
}

.SequenceStepMovableBlock.sortableHelper {
    z-index: 10;
    color: #ffffff;
    background-color: #000000;
}

.SequenceStepMovableBlock {
    list-style: none;
}

.SequenceStepContainer {
    padding: 0px;
}

.SequenceStatusERROR {
    font-weight: bold;
    color: red;
}

.SequenceStatusRUNNING {
    font-style: italic;
    color: blue;
}

.SequenceStatusDONE {
    font-style: bold;
    color: green;
}