.StatusLabel {
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-overflow-scrolling: 'touch';
}

.StatusLabelWithDetails {
    display: block;
    overflow-x: auto;
    text-overflow: unset;
}
