.TooltipIcon {
    font-weight: bold;
    color: #a0c0ff;

    padding-left: 0.15em;
    padding-right: 0.15em;

    cursor: pointer;

    position: relative;
    top: -0.1em;
}

.TooltipTitle {
    font-weight: bold;
    color: #a0c0ff;

    padding-left: 0.15em;
    padding-right: 0.15em;

    position: relative;
    top: -0.1em;
}