.SequenceView {
    display: flex;
    flex-direction: column;

    flex-grow: 1;
    flex-shrink: 1;
}

.SequenceStepMovableBlock.sortableHelper {
    z-index: 100;
    color: #ffffff;
    background-color: #303030;
}

.SequenceStepMovableBlock {
    list-style: none;
    list-style: none;
    border-color: #00ac9d;
    border-width: 0 0 0 0.5em;
    display: inline-block;
    /* padding: 0.2em 0px 0px 0px; */
    border-style: solid;
    margin-bottom: 0.2em;
    padding: 0 0 0 0.2em;
}

.SequenceStepContainer {
    padding: 0px;
}

.SequenceStatusContainer {
    min-width: 12em;
    line-height: 2em;
}
.SequenceStatusBreak {
    width: 100%;
}

.SequenceStatusERROR {
    font-weight: bold;
    color: red;
}

.SequenceStatusRUNNING {
    font-style: italic;
    color: blue;
}

.SequenceStatusDONE {
    font-style: bold;
    color: green;
}

.SequenceControl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 0.3em;
}

.SequenceViewDisplay {
    display: flex;
    flex: 1 auto;
}

.SequenceViewTable {
    display: flex;
    flex: 1;
}

.SequenceViewMonitoringBton.ToggleBton.checked:before {
    content: "📉";
    color: #fff;
}

.SequenceViewMonitoringBton.ToggleBton.unchecked:before {
    content: "📉";
    color: #aaa;
    filter: grayscale(100%);
}

.SequenceViewMonitoringConfig{
    order: 2
}

@media (min-aspect-ratio: 4/3) {
    .SequenceView {
        flex-direction: column;
        flex-wrap: wrap;
        --ctrlColWidth: 33vw;
    }

    .SequenceViewDisplay {
        flex: 1 1 auto;
        order: 3;
        width: calc(100% - var(--ctrlColWidth));
    }

    .SequenceControl {
        width: var(--ctrlColWidth);
        flex-grow: 0;
        order:1
    }
    .SequenceViewDisplay {
        order:3;
        height: 100%;
    }
    .SequenceViewTable {
        width: var(--ctrlColWidth);
        flex: auto;
        flex-basis: 0px;
        order: 2;
    }
}

.cell-astrometry {
    text-align: center;
}

.col-astrometry-ok {
    color: green;
}

.col-astrometry-failed {
    color: red;
}
