.SequenceStepProperty {
    display: block;
    line-height: 1.7em;
}

.SequenceStepPropertyTitle {
    display: inline-block;
    padding: 0.7vw;
    width: auto !important;
    margin: 0.5vw;
    min-height: 1.0em;
}

.SequenceStepParameterForkBton {
    font-weight: bold;
    font-family: "MobindiGlyphBton", "sans-serif";
    min-width: 1.7em;
}
.SequenceStepParameterDropBton {
    font-weight: bold;
    font-family: "MobindiGlyphBton", "sans-serif";
    min-width: 1.7em;
}

.SequenceStepDitheringSettingsTitle {
    text-align: center;
    font-weight: bold;
}