.Wizard_subtitle {
    font-style: italic;
    margin-bottom: 0.2em;
    color: #d0d0d0;
    text-align: center;
}

.AstrometryWizardRootView {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.AstrometryWizardContent {
    height: calc(100% - 2.2em);
    overflow-y: scroll;
    scrollbar-width: none
}

.AstrometryWizardContent::-webkit-scrollbar {
    display: none;
}

.AstrometryWizardControls {
    height: 2.2em;
    overflow: hidden;
}

.WizardLeftButton {
    float: left;
}
.WizardRightButton {
    float: right;
}
