.TableHeaderCell {
    display: inline-block;
}

div.DataTable {
    overflow-x: auto;
    overflow-y: hidden;
    border: 0.25vw solid #303030;
    width: calc(100% - 0.5vw);
    display: flex;
    flex-direction: column;
    /* flex-grow: 0.3;
    flex-shrink: 1;
    height: 15vh; */
}

div.DataTableScrollable {
    overflow-y: auto;
    flex: 1;
}

.DataTable .Cell {
    overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
    text-overflow: ellipsis;
}


.CellHeader {
    overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
    text-overflow: ellipsis;
    font-weight: bold;
    text-align: center;
    border-right: 0.25vw solid #303030;
    box-sizing: border-box;
    height: 1.25em;
    padding-left: 0.05em;
    padding-right: 0.05em;
}


.Cell {
    border-right: 0.25vw solid #303030;
    box-sizing: border-box;
    padding-left: 0.05em;
    padding-right: 0.05em;
}

.DataTableHeader {
    width: 100%;
    display: inline-block;
    top: 0px;
    background: #000000;
    border-bottom: 0.25vw solid #303030;
    border-spacing: 0px;
    border-collapse: separate;
    /* min-width: 100%; */
    height: 1.25em;
}

.DataTableData {
    width: 100%;
    display: block;
    border-spacing: 0px;
    border-collapse: separate;
    /*min-width: 100%;*/
}

.DataTableData .Row.selected {
    background-color: #306060;
}

.DataTableData .Row {
    cursor: pointer;
}
