table.DataTable {
    min-width: 100%;
}

div.DataTable {
    overflow-x: auto;
    overflow-y: hidden;
    border: 0.25vw solid #303030;
    width: calc(100% - 0.5vw);
    display: flex;
    flex-direction: column;
    /* flex-grow: 0.3;
    flex-shrink: 1;
    height: 15vh; */
}

div.DataTableScrollable {
    overflow-y: auto;
    flex: 1;
}

.DataTable td {
    overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
    text-overflow: ellipsis;
    max-width: 0em;
    min-width: 0em;
}
.DataTable th {
    overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
    text-overflow: ellipsis;
    max-width: 0em;
    min-width: 0em;
}

.DataTableHeader {
    width: 100%;
    display: inline-block;
    top: 0px;
    background: #000000;
    border-bottom: 0.25vw solid #303030;
    border-spacing: 0px;
    border-collapse: separate;
    table-layout: fixed;
    /* min-width: 100%; */
}

.DataTableHeader th {
    margin: 0px;
}

.DataTableData {
    width: 100%;
    display: block;
    border-spacing: 0px;
    border-collapse: separate;
    table-layout: fixed;
    /*min-width: 100%;*/
}

.DataTableData td {
    margin: 0px;
}

.DataTableHeader th:not(:first-child) {
    border-left: 0.25vw solid #303030;
}

.DataTableData td:not(:first-child) {
    border-left: 0.25vw solid #303030;
}

.DataTableData tr.selected {
    background-color: #306060;
}

.DataTableData tr {
    cursor: pointer;
}
