.PolarAlignStatus {
    overflow: hidden;
    word-wrap: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
}

.PolarAlignStatus_done {
    color: lightgreen;
}

.PolarAlignStatus_paused {
    color: lightgreen;
}

.PolarAlignStatus_running {
    color: lightgreen;
}

.PolarAlignStatus_error {
    color: red;
}

.PolarAlignDeltaDisplay {
    margin: 0.5em;
}

.PolarAlignExplain {
    color: #c0c0c0;
    margin: 0.5em;
    text-align: justify;
    font-style: italic;
    font-size: 0.8em;
}


.PolarAlignExplainWarning {
    margin: 0.5em;
    text-align: justify;
    color: yellow;
    font-size: 0.8em;
}

.PolarAlignExplainBigWarning {
    margin: 0.5em;
    text-align: justify;
    color: orange;
    font-size: 0.8em;
}

.PolarAlignExplainBigWarningEmphasis {
    font-weight: bold;
    text-decoration: underline;
}

.PolarAlignExplainError {
    margin: 0.5em;
    text-align: justify;
    color: red;
}
