s/** CSS for visualization of sky spots for polar alignment */

.polar_align_sky_view_control {
    text-align: center;
    flex-grow: 1;
    max-width: 30%;
}

.polar_align_sky_view_warning {
    flex-basis: 100%;
    text-align: center;
}
.ScopeOrientationViewContainer {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}


.MiniMapMarker.polar_align_scope {
    background: #0000ff;
}